.borde {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

.color {
    background-color: #d7dbdd;
}

.filtro {
    color: #0d6efd;
    margin: 25px;
    border-radius: 6px;
}